{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

    <h1>Welcome to Our Website</h1>
    <p>Subscribe to our newsletter for the latest updates!</p>

    <form enctype="multipart/form-data" method="post" action="/newsletter/foobar/subscribe/">
        {% csrf_token %}
        <label for="id_email_field">E-mail:</label> <input type="email" name="email_field" required="" id="id_email_field">
        <button id="id_submit" name="submit" value="Subscribe" type="submit">Subscribe</button>
        </form>

</body>
</html>
